.wraper {
	display: grid;
	grid-template-columns: 2fr 7fr;
}
.dialogItems {
	background-color: rosybrown;
}
.dialog {
	border: 1px solid #000;
	border-radius: 10px;
	padding-left: 13px;
}

.messagesItems {
	padding: 10px;
}
.messages {
}
.active {
	color: gold;
	font-weight: 700;
	background-color: gray;
}
